/**
 * Police externe.
 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/**
 * Reset css.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Déclaration des constantes.
 */
:root {
    --backgroundColorMain: #F5F3EF;
    --backgroundColorSecond: #FAF9F7;
    --mainColor: #00AC66;
    --mainTextColor : #000000;
    --secondTextColor : #292929;
    --subtitleColor: #A6A6A6;
    --statusColorTrue: #6DC5A1;
    --statusColorFalse: #C56D6D;
}

/**
 * Mise en forme générale.
 */
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    /* fixe la largeur à la largeur de l'ecran pour etendre les backgrounds et avoir un rendu plus estétique*/
    overflow-x: hidden;
    /* On masque la barre de défilement horizontale */
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

section {
    padding-top: 80px;
    width: 100%;
}

h1,
h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
    color: var(--secondTextColor);
}

h3,
h4,
p,
a,
span {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: var(--mainColor);
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 21px 37px;
    border-radius: 10px;
    border: solid 1px var(--mainColor);
    width: fit-content;
}

/****** Navbar *****/
header {
    background-color: var(--backgroundColorMain);
    width: 100%;
    justify-items: center;
}

.navbar {
    width: 1440px;
    height: 80px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.navbar>img {
    height: 51px;
    width: 155px;
}

.navbarNav {
    display: flex;
    flex-direction: row;
    gap: 44px;
    margin-right: 184px;
    color: var(--secondTextColor);
}

.navbarNav a {
    letter-spacing: 0.02em;
}

.navAdmin {
    margin-right: 0px;
}

.activePage {
    font-weight: 600;
}

.iconLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.iconLink>img {
    height: 13px;
    aspect-ratio: 1/1;
}

.iconLink span {
    font-weight: 700;
    color: white;
    font-size: 8.25px;
    background-color: #292929;
    padding: 3px;
    border-radius: 6.75px;
}

.noMessageUnread {
    display: none;
}

.activePage {
    font-weight: 600;
}

/****** Footer *****/

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    height: 61px;
    justify-content: end;
    background-color: white;
    width: 1440px;
    font-size: 12px;
    font-weight: 300;
    padding-right: 46px;
    color: #292929;
}

footer img {
    height: 17.36px;
    width: 22px;
}

/****** Sections *****/

.introSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 102px;
    gap: 100px;
    background-color: var(--backgroundColorMain);
}

.introContainer {
    max-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.introContainer .button {
    width: fit-content;
    margin-top: 24px;
}

.introContainer>p {
    font-weight: 300;
}

.introPictureContainer{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 12px;
}

.introPictureContainer span{
    color: var(--subtitleColor);
    font-size: 12px;
    font-style: italic;
}

.homePicture {
    height: 539px;
    width: 404px;
}

/******** derniers ajouts ********/

.lastAddedSection {
    width: 100%;
    background-color: var(--backgroundColorSecond);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
}

/******** bookCard ********/

.bookCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 914px;
    gap: 38px;
    margin-top: 80px;
    margin-bottom: 48px;
}

.bookCardsContainer img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.bookCard {
    background-color: white;
    border-radius: 0 0 10px 10px;
    flex: 0 1 auto;
    height: 324px;
    width: 200px;
}

.bookCardText {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    gap: 10px;
}

.bookCard h3 {
    font-size: 16px;
}

.bookCard h4 {
    font-size: 14px;
    color: var(--subtitleColor);
}

.bookCard p {
    font-size: 10px;
    color: var(--subtitleColor);
    font-style: italic;
    padding-top: 15px;
}

/******** Comment ça marche ********/

.howToDoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColorMain);
}

.howToDoSection h2 {
    padding-bottom: 24px;
}

.howToDoSection p {
    color: var(--secondTextColor);
}

.howToDoSection>p {
    font-weight: 300;
}

.howToDoContainer {
    display: flex;
    flex-direction: row;
    height: 139px;
    gap: 36px;
    margin-top: 40px;
    margin-bottom: 48px;
}

.step {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    height: 139px;
    width: 215px;
    padding: 44px 10px;
}

.step p {
    font-size: 14px;
}

.howToDoSection .button {
    background-color: inherit;
    color: var(--mainColor);
    border: solid 1px var(--mainColor);
}

/******** nos valeurs ********/

.valueSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColorMain);
    padding-bottom: 80px;
}

.valuePicture {
    max-height: 230px;
    max-width: 1440px;
    width: 100%;
    object-fit: cover;
}

.valueContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    width: 392px;
    padding-top: 80px ;
}

.valueText p {
    margin-bottom: 16px;
    font-weight: 300;
}

.valueContainer span {
    font-style: italic;
    color: var(--subtitleColor);
    font-size: 12px;
}

.valueLogo{
    width: 120px;
    height: 102px;
    margin-left: 400px;
    margin-top: -40px;
}

/******** nos livres à l'échange ********/

.oursBooksSection {
    background-color: var(--backgroundColorSecond);
    justify-items: center;
    padding-top: 130px;
}

.oursBooksContainer{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
}

.oursBooksContainer .bookCardsContainer{
    margin-top: 72px;
    gap: 48px 38px;
}

.SectionTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 914px;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
    width: 322px;
    height: 50px;
    background-color: white;
    border: solid #F0F0F0 1px;
    border-radius: 6px;
    color: var(--subtitleColor);
}

input {
    border: none;
    color: var(--subtitleColor);
    height: 50px;
    width: 100%;
    font-size: 14px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: none;
}

.searchBar input::placeholder {
    color: var(--subtitleColor);
    font-size: 14px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/******** Detail livre ********/

.navLink {
    color: var(--subtitleColor);
    background-color: var(--backgroundColorMain);
    width: 100%;
    justify-self: flex-start;
    padding-left: 150px;
    padding-top: 16px;
    padding-bottom: 20px;
    font-size: 10px;
    font-weight: 300;
}

.oneBookSection {
    background-color: var(--backgroundColorSecond);
    padding-top: 0;
    display: flex;
    flex-direction: row;
    gap: 85px;
}


.oneBookSection>img {
    height: 863px;
    width: 720px;
    object-fit: cover;
}

.oneBookContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 59px;
    color: #292929;
}

.oneBookContainer>span {
    color: var(--subtitleColor);
}

.oneBookContainer p {
    font-size: 14px;
}

.partTitle {
    font-size: 8px;
    letter-spacing: 8%;
    font-weight: 600;
}

.bookDescription {
    margin-bottom: 16px;
}

.oneBookContainer button {
    width: 485px;
}

.ownerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background-color: white;
    border-radius: 30px;
    width: fit-content;
    padding: 6px;
    padding-right: 12px;
    margin-bottom: 80px;
}

.ownerCard img {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 100%;
}

/******** login ********/

.loginPageSection {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--backgroundColorSecond);
}

.loginPageSection img {
    height: 886px;
    width: 720;
}

.loginForm {
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginForm form {
    padding-top: 56px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 322px;
}

.loginForm .formField {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--subtitleColor);
    font-size: 14px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.loginForm input {
    background-color: white;
    border: solid #F0F0F0 1px;
    border-radius: 6px;
}

.loginForm input[value] {
    background-color: #EDF2F6;
}

.loginForm button {
    width: 100%;
}

.loginForm p {
    font-size: 14px;
    color: #292929;
}

/******** MemberPage/ Personnal information Card ********/

.memberPageSection {
    background-color: var(--backgroundColorSecond);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 150px;
    gap: 40px;
}

.memberPageSection h1 {
    font-size: 26px;
}

.memberPageTopContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1140px;
    gap: 40px;
}

.privatePageTopContainer {
    width: 48%;
}

.publicPageTopContainer {
    width: 30%;
}

.memberPageInformationMember {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 48px;
}

.memberPageInformationMember>span {
    color: var(--backgroundColorMain);
}

.bigAvatar {
    height: 135px;
    width: 135px;
    object-fit: cover;
    border-radius: 100%;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.avatarContainer a {
    font-size: 14px;
    color: var(--subtitleColor);
    text-decoration: underline;
}

.infoMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.infoMember h2 {
    font-size: 24px;
}

.infoMember span {
    font-size: 14px;
    color: var(--subtitleColor);
}

.nbBooks {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.nbBooks p {
    font-size: 14px;
}

/******** PrivatePage/ Personnal information form ********/

.memberPageInformationMember>form {
    padding-top: 0;
}

.memberPageInformationMember button {
    background-color: inherit;
    color: var(--mainColor);
    border: solid 1px var(--mainColor);
    width: fit-content;
}

/******** PrivatePage/ book table ********/

.bookTable {
    width: 1140px;
    background-color: white;
    border-radius: 20px;
    border-collapse: collapse;
}

.publicTableWidth {
    width: 66%;
}

tHead {
    padding-right: 66px;
    padding-left: 66px;
    width: 15%;
    text-align: start;
    height: 50px;
}

.thDesc {
    width: 20%;
    text-align: start;
    height: 50px;
}

.bookTable img {
    width: 78px;
    height: 78px;
}

.bookTable tbody th {
    text-align: start;
    padding-top: 26px;
    padding-bottom: 26px;
    border-top: 1px solid var(--backgroundColorMain);
    padding-left: 66px;
}

tbody .pair {
    background-color: white;
}

tbody .odd {
    background-color: #EDF2F6;
}

.bookTable tbody td {
    padding-right: 40px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    border-top: 1px solid var(--backgroundColorMain);
}

.bookTable td .italic {
    font-style: italic;
}

.bookStatus {
    color: white;
    padding: 3.7px 13.3px;
    border-radius: 30px;
    width: fit-content;
}

.available {
    background-color: var(--statusColorTrue);
}

.unavailable {
    background-color: var(--statusColorFalse);
}

.actionTable {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.actionLink {
    text-decoration: underline;
}

.actionDelete {
    color: #CB2D2D;
}

/******** Messaging/ Inbox ********/

.messagingSection {
    display: flex;
    flex-direction: row;
    background-color: var(--backgroundColorMain);
    height: auto;
    padding: 0 150px;
}

.messagingSection h1 {
    font-size: 26px;
    padding-left: 34px;
    padding-bottom: 27px;
}

.inbox {
    width: 308px;
    background-color: var(--backgroundColorSecond);
    padding-top: 65px;
    height: 893px;
}

.inboxContent {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.inboxContainer {
    height: 84px;
    padding: 16px 34px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.avatarMedium {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 100%;
}

.avatarSmall {
    height: 24px;
    width: 24px;
    object-fit: cover;
    border-radius: 100%;
}

.inboxContainerContent {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #292929;
}

.inboxContainerContent span {
    font-size: 12px;
    color: var(--subtitleColor);
}

.inboxContentInformations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unread {
    background-color: white;
}

.read {
    background-color: inherit;
}

/******** Messaging/ tread ********/

.messageTreadSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 832px;
    padding-left: 50px;
    padding-top: 35px;
}

.messageTreadContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 24px 0;
    padding-right: 10px;
    overflow-y: auto;
    max-height: calc(60vh);
    /* A faire plus propre car pas robuste avec taille d'ecran et header/footer en dure*/
}

.senderAvatar {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    font-weight: 600;
}

.senderInformation {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    padding-bottom: 8px;
    font-size: 12px;
    color: var(--subtitleColor);
}

.message {
    padding: 10px 18px;
    border-radius: 3px;
    width: fit-content;
}

.message p {
    font-size: 12px;
}

.receivedContainer {
    align-self: start;
}

.sendContainer {
    align-self: end;
}

.receivedMessage {
    text-align: start;
    background-color: white;
}

.sendMessage {
    text-align: end;
    background-color: #EDF2F6;
}

.showAvatar {
    justify-content: start;
}

.showAvatar img {
    display: inherit;
}

.hideAvatar {
    justify-content: end;
}

.hideAvatar img {
    display: none;
}

.messagingForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.messagingForm input {
    background-color: white;
    border: solid #F0F0F0 1px;
    border-radius: 6px;
    width: 628px;
    height: 50px;
    padding-left: 42px;
}

.messagingForm button {
    width: 132px;
    height: 49px;
    padding: 0;
    text-align: center;
}

.textOverFlow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 170px;
}

/******** edit Book form ********/

.editBookSection {
    display: flex;
    flex-direction: column;
    background-color: #FAF9F7;
    padding-left: 150px;
    padding-bottom: 92px;
}

.editBookSection h1 {
    font-size: 26px;
    padding-bottom: 23px;
}

.editBookContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    width: 1140px;
    padding: 50px 56px;
}

.editBookForm {
    width: 435px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
}

.editBookForm form {
    padding-top: 56px;
    padding-bottom: 40px;
}

.editBookForm .formField {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--subtitleColor);
    font-size: 14px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

.editBookForm input,
select,
textarea {
    background-color: white;
    border: solid #F0F0F0 1px;
    border-radius: 6px;
}

.formField>textarea {
    display: block;
    min-height: 100px;
    height: fit-content;
    resize: none;
    overflow: hidden;
}

.editBookForm input[value] {
    background-color: #EDF2F6;
}

.editBookForm button {
    width: 322px;
}

.editBookForm p {
    font-size: 14px;
    color: #292929;
}

.editPictureContainer {
    display: flex;
    flex-direction: column;
}

.editPictureContainer img {
    width: 488px;
    height: 488px;
}

/******** Error Page ********/

.error {
    display: flex;
    flex-direction: column;
    width: 1140px;
    height: 85vh;
    justify-content: start;
    padding-top: 150px;
    align-items: center;
    gap: 16px;
}

.error a {
    text-decoration: underline;
}